@model TareasPendientesWeb.Models.TareasPendientes

@{
    ViewBag.Title = "Create";
}

<h2>Crea Tareas</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Tarea Pendiente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaVencimiento, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaVencimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.completada, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.completada, true, new { @class = "form-control" }) Sí
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(model => model.completada, false, new { @class = "form-control" }) No
                </label>
                @Html.ValidationMessageFor(model => model.completada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear Tarea" class="btn btn-default" style="background:#f0f0f0" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Ir a Lista de Tareas", "Index")
</div>
